In [2]:
import pandas as pd
import numpy as np
xlsx = pd.ExcelFile('pyramid.xlsx')
df1 = xlsx.parse('pandas')
import functions as fn

In [5]:
Upper_Price = 19000
Lower_Price = 17000
df2 = df1[df1['Call no'] + df1['Put no'] <> 0]
df3 = df2[(df2['Exercise Price'] >= Lower_Price) & (df2['Exercise Price'] <= Upper_Price)].fillna("")
#df3['Put 8'].apply(np.isnan)

#df2[(df2['Exercise Price'] >= 20600) & (df2['Exercise Price'] <= 20900)]
df4 = df3

df3

,Put 8,Put 7,Put 6,Put 5,Put 4,Put 3,Put 2,Put 1,Call Exercise Date,Call no,Exercise Price,Put no,Put Exercise Date,Call 1,Call 2,Call 3,Call 4,Call 5,Call 6,Call 7
8,,,,,,,,,29/9/2016,0,17000,3,29/9/2016,26399 HK Equity,26444 HK Equity,26106 HK Equity,,,,
9,,,,,,,,,28/10/2016,0,17000,1,28/10/2016,26155 HK Equity,,,,,,
13,,,,,,,,,29/9/2016,0,17200,1,29/9/2016,26037 HK Equity,,,,,,
14,,,,,,,,26020 HK Equity,28/10/2016,1,17200,0,28/10/2016,,,,,,,
18,,,,,,,,,29/9/2016,0,17448,1,29/9/2016,26485 HK Equity,,,,,,
23,,,,,,,,,29/9/2016,0,17500,2,29/9/2016,26540 HK Equity,25916 HK Equity,,,,,
27,,,,,,,,,30/8/2016,0,17600,2,30/8/2016,26036 HK Equity,26320 HK Equity,,,,,
28,,,,,,,,,29/9/2016,0,17600,1,29/9/2016,25625 HK Equity,,,,,,
32,,,,,,,,,30/8/2016,0,17800,1,30/8/2016,25946 HK Equity,,,,,,
37,,,,,,,,,30/8/2016,0,17988,1,30/8/2016,26142 HK Equity,,,,,,
42,,,,,,,,,30/8/2016,0,18000,3,30/8/2016,25994 HK Equity,26052 HK Equity,26532 HK Equity,,,,
43,,,,,26329 HK Equity,26064 HK Equity,25686 HK Equity,25986 HK Equity,29/9/2016,4,18000,0,29/9/2016,,,,,,,
48,,,,,,,,,29/9/2016,0,18308,1,29/9/2016,27112 HK Equity,,,,,,
52,,,,,,,,25948 HK Equity,30/8/2016,1,18400,2,30/8/2016,25698 HK Equity,26362 HK Equity,,,,,
53,,,,,,,,,29/9/2016,0,18400,3,29/9/2016,25548 HK Equity,26668 HK Equity,25579 HK Equity,,,,
57,,,,,,,,,30/8/2016,0,18500,1,30/8/2016,25917 HK Equity,,,,,,
62,,,,,,,,,30/8/2016,0,18588,1,30/8/2016,26491 HK Equity,,,,,,
67,,,,,,,25902 HK Equity,26319 HK Equity,30/8/2016,2,18600,0,30/8/2016,,,,,,,
72,,,,,,,,26201 HK Equity,30/8/2016,1,18708,0,30/8/2016,,,,,,,
78,,,,,,,,,29/9/2016,0,18800,3,29/9/2016,26874 HK Equity,26703 HK Equity,28172 HK Equity,,,,
79,,,,,,,,,28/10/2016,0,18800,3,28/10/2016,25713 HK Equity,28131 HK Equity,27359 HK Equity,,,,
84,,,,,,,,,28/10/2016,0,18828,1,28/10/2016,28393 HK Equity,,,,,,
88,,,,,,,,,29/9/2016,0,18888,1,29/9/2016,27111 HK Equity,,,,,,
90,,,,,,,,,29/6/2016,0,18908,1,29/6/2016,25195 HK Equity,,,,,,
100,,,,,,,,,29/6/2016,0,19000,4,29/6/2016,26764 HK Equity,24691 HK Equity,11158 HK Equity,25808 HK Equity,,,
101,,,,,25561 HK Equity,25915 HK Equity,25919 HK Equity,25660 HK Equity,28/7/2016,4,19000,0,28/7/2016,,,,,,,
103,,,,,,,,25984 HK Equity,29/9/2016,1,19000,0,29/9/2016,,,,,,,

In [6]:
for cols in df3.columns[:8]:
    df4[cols] = fn.get_quote(list(df3[cols]))
for cols in df3.columns[-7:]:
    df4[cols] = fn.get_quote(list(df3[cols]))
df4

,Put 8,Put 7,Put 6,Put 5,Put 4,Put 3,Put 2,Put 1,Call Exercise Date,Call no,Exercise Price,Put no,Put Exercise Date,Call 1,Call 2,Call 3,Call 4,Call 5,Call 6,Call 7
8,,,,,,,,,29/9/2016,0,17000,3,29/9/2016,0.019,0.019,0.018,,,,
9,,,,,,,,,28/10/2016,0,17000,1,28/10/2016,0.033,,,,,,
13,,,,,,,,,29/9/2016,0,17200,1,29/9/2016,0.027,,,,,,
14,,,,,,,,0.345,28/10/2016,1,17200,0,28/10/2016,,,,,,,
18,,,,,,,,,29/9/2016,0,17448,1,29/9/2016,0.027,,,,,,
23,,,,,,,,,29/9/2016,0,17500,2,29/9/2016,0.029,0.028,,,,,
27,,,,,,,,,30/8/2016,0,17600,2,30/8/2016,0.018,0.016,,,,,
28,,,,,,,,,29/9/2016,0,17600,1,29/9/2016,0.031,,,,,,
32,,,,,,,,,30/8/2016,0,17800,1,30/8/2016,0.017,,,,,,
37,,,,,,,,,30/8/2016,0,17988,1,30/8/2016,0.015,,,,,,
42,,,,,,,,,30/8/2016,0,18000,3,30/8/2016,0.022,0.023,0.021,,,,
43,,,,,N/A,0.275,0.275,0.340,29/9/2016,4,18000,0,29/9/2016,,,,,,,
48,,,,,,,,,29/9/2016,0,18308,1,29/9/2016,0.040,,,,,,
52,,,,,,,,0.350,30/8/2016,1,18400,2,30/8/2016,0.025,0.029,,,,,
53,,,,,,,,,29/9/2016,0,18400,3,29/9/2016,0.045,0.040,0.039,,,,
57,,,,,,,,,30/8/2016,0,18500,1,30/8/2016,0.026,,,,,,
62,,,,,,,,,30/8/2016,0,18588,1,30/8/2016,0.024,,,,,,
67,,,,,,,0.246,0.260,30/8/2016,2,18600,0,30/8/2016,,,,,,,
72,,,,,,,,0.295,30/8/2016,1,18708,0,30/8/2016,,,,,,,
78,,,,,,,,,29/9/2016,0,18800,3,29/9/2016,0.047,0.047,0.059,,,,
79,,,,,,,,,28/10/2016,0,18800,3,28/10/2016,0.069,N/A,0.059,,,,
84,,,,,,,,,28/10/2016,0,18828,1,28/10/2016,0.066,,,,,,
88,,,,,,,,,29/9/2016,0,18888,1,29/9/2016,0.043,,,,,,
90,,,,,,,,,29/6/2016,0,18908,1,29/6/2016,0.010,,,,,,
100,,,,,,,,,29/6/2016,0,19000,4,29/6/2016,0.010,0.010,0.010,0.010,,,
101,,,,,0.230,0.231,0.233,0.280,28/7/2016,4,19000,0,28/7/2016,,,,,,,
103,,,,,,,,0.270,29/9/2016,1,19000,0,29/9/2016,,,,,,,

In [8]:
df3.columns[-7:]

Index([u'Call 1', u'Call 2', u'Call 3', u'Call 4', u'Call 5', u'Call 6',
       u'Call 7'],
      dtype='object')